a {
  text-decoration: none;
}
ul{
  // padding: 0;
  list-style: none;
}
body {
	margin: 0;
	padding: 0;
}
.container {
  margin: 20px;
	padding: 20px;
	width: calc(100% -40);
	border-radius: 4px;
	background: #fff;
	margin-bottom: 100px;
	position: relative;
}

.el-message .el-message__content {
	line-height: 1.4!important;
}

.overflow {
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.inline-b {
  display: inline-block;
}

.cursor {
  cursor: pointer;
}

// element-ui

.el-message {
	min-width: 160px!important;
	line-height: 1.7;
}

// 超出省略号
.ellipsis-line3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
}

/*对 markdown 样式的补充*/
pre {
	display: block;
	padding: 15px;
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #eee;
	background: #2f495e;
	word-break: break-all;
	word-wrap: break-word;
	overflow: auto;
	border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
	color: #2c3e50;
}
strong {
	font-weight: bold;
}

p > code:not([class]) {
	font-size: 90%;
	color: #d63200;
	padding: 4px 4px;
	margin: 0 3px;
	background-color: #f8f8f8;
	border-radius: 4px;
}

img {
	max-width: 100%;
}

.article-detail {
	img {
		/* 图片居中 */
		display: flex;
		max-width: 100%;
		margin: 0 auto;
	}
	table {
		text-align: center;
		border: 1px solid #eee;
		margin-bottom: 1.5em;
	}
	th,
	td {
		padding: 0.5em;
	}
	tr:first-child {
		background: #f7f7f7;
	}
}

.article-detail {
	color: rgb(62, 62, 62)!important;
	font-size: 16px;
	line-height: 1.87;
	table td, table th {
		border: 1px solid #dfe2e5;
	}
	table {
		border-spacing: 0;
    border-collapse: collapse;
	}
	p {
		margin: 0.6em 0 1em;
		a { 
			color: #42b983!important;
		}
	}
	ul>li>a {
		color: #42b983!important;
	}
	h4 {
		font-size: 1.2em;
		margin: 1.6em 0 0.6em;
	}
	span {
		line-height: 1.4;
	}
	li {
		margin: 0.5em 0;
	}
	h1 {
		color: inherit;
    line-height: inherit;
		font-weight: bold;
		margin: 1.6em 0 1.3em;
    border-bottom: 1px solid #eaecef;
		font-size: 2em;
	}
	h2 {
		color: inherit;
    line-height: inherit;
		font-weight: 600;
		margin: 1.6em 0 1.3em;
    border-bottom: 1px solid #eaecef;
		font-size: 1.6em;
		
	}
	h3 {
		color: inherit;
    line-height: inherit;
		font-weight: 600;
		margin: 1.6em 0 1.3em;
    border-bottom: 1px solid #eaecef;
		font-size: 1.4em;
	}
}

// .article-detail .anchor ul,
// .article-detail .anchor ol {
// 	color: #333333;
// 	margin: 1.5em 0 0 25px;
// }

// .article-detail .anchor h1,
// .article-detail .anchor h2 {
// 	border-bottom: 1px solid #eee;
// 	padding-bottom: 10px;
// }

// .article-detail .anchor a {
// 	color: #009a61;
// }

.article-detail blockquote {
	padding: 1em 0 1em 1em;
	display: block;
	font-size: 0.9em;
	margin: 1em 0px;
	color: rgb(0, 0, 0);
	border-left: 5px solid #42b983;
	background: #f3f5f7;
	overflow: auto;
	overflow-wrap: normal;
	word-break: normal;
	p {
		padding: 0;
		margin: 0;
	}
	strong {
		margin: 0 3px;
	}
}

$themeColor: #5A94D0;

$blue1:#06c;
