a {
  text-decoration: none;
}
ul{
  // padding: 0;
  list-style: none;
}
body {
	margin: 0;
	padding: 0;
}
.container {
  // min-height: 100vh;
  // justify-content: center;
  // align-items: center;
  margin: 20px;
	padding: 20px;
	width: calc(100% -40);
	border-radius: 4px;
	background: #fff;
	margin-bottom: 100px;
	position: relative;
  // -webkit-box-shadow: 0 0 6px hsla(0,0%,39%,.4);
  // box-shadow: 0 0 6px hsla(0,0%,39%,.4);
}

.el-message .el-message__content {
	line-height: 1.4!important;
}

.overflow {
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.inline-b {
  display: inline-block;
}

.cursor {
  cursor: pointer;
}

// element-ui

.el-message {
	min-width: 160px!important;
	line-height: 1.7;
}

// 超出省略号
.ellipsis-line3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
}

/*对 markdown 样式的补充*/
pre {
	display: block;
	padding: 15px;
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #eee;
	background: #2f495e;
	word-break: break-all;
	word-wrap: break-word;
	overflow: auto;
	border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
}
strong {
	font-weight: bold;
}

p > code:not([class]) {
	font-size: 90%;
	color: #d63200;
	padding: 4px 4px;
	margin: 0 3px;
	// color: #c7254e;
	// background-color: #f9f2f4;
	background-color: #f8f8f8;
	border-radius: 4px;
}

img {
	max-width: 100%;
}

.article-detail {
	img {
		/* 图片居中 */
		display: flex;
		max-width: 100%;
		margin: 0 auto;
	}
	table {
		text-align: center;
		border: 1px solid #eee;
		margin-bottom: 1.5em;
	}
	th,
	td {
		padding: 0.5em;
	}
	tr:first-child {
		background: #f7f7f7;
	}
}

.article-detail {
	color: rgb(62, 62, 62)!important;
	font-size: 16px;
	line-height: 1.87;
	table td, table th {
		border: 1px solid #dfe2e5;
	}
	table {
		border-spacing: 0;
    border-collapse: collapse;
	}
	p {
		margin: 0.6em 0 1em;
		strong {
    	color: rgb(233, 105, 0);
		}
	}
	h4 {
		font-size: 1.2em;
		margin: 1.6em 0 0.6em;
	}
	span {
		line-height: 1.4;
	}
	li {
		margin: 0.5em 0;
	}
	h1 {
		color: inherit;
    line-height: inherit;
		font-weight: bold;
		margin: 1.6em 0 1.3em;
    border-bottom: 2px solid rgb(239, 112, 96);
		font-size: 1.6em;
		.text {
			font-size: inherit;
			// line-height: inherit;
			margin: 0px;
			display: inline-block;
			font-weight: normal;
			background: rgb(239, 112, 96);
			color: rgb(255, 255, 255);
			padding: 4px 10px 7px;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			margin-right: 3px;
		}
		.icon {
			display: inline-block;
			vertical-align: bottom;
			// border-bottom: 45px solid rgb(239, 235, 233);
			// border-right: 20px solid transparent;
			width: 0;
			height: 0;
			border-right: 21px solid transparent;
			border-bottom: 21px solid transparent;
			border-left: 21px solid rgb(239, 235, 233);
			border-top: 21px solid transparent;
		}
	}
	h2 {
		color: inherit;
    line-height: inherit;
		font-weight: bold;
		margin: 1.6em 0 1.3em;
    border-bottom: 2px solid rgb(239, 112, 96);
		font-size: 1.4em;
		.text {
			font-size: inherit;
			// line-height: inherit;
			margin: 0px;
			display: inline-block;
			font-weight: normal;
			background: rgb(239, 112, 96);
			color: rgb(255, 255, 255);
			padding: 5px 10px 6px;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			margin-right: 3px;
		}
		.icon {
			display: inline-block;
			vertical-align: bottom;
			// border-bottom: 40px solid rgb(239, 235, 233);
			// border-right: 20px solid transparent;
			width: 0;
			height: 0;
			border-right: 19px solid transparent;
			border-bottom: 19px solid transparent;
			border-left: 19px solid rgb(239, 235, 233);
			border-top: 19px solid transparent;
		}
	}
	h3 {
		color: inherit;
    line-height: inherit;
		font-weight: bold;
		margin: 1.6em 0 1.3em;
    border-bottom: 2px solid rgb(239, 112, 96);
		font-size: 1.3em;
		.text {
			font-size: inherit;
			// line-height: inherit;
			margin: 0px;
			display: inline-block;
			font-weight: normal;
			background: rgb(239, 112, 96);
			color: rgb(255, 255, 255);
			padding: 4px 10px 5px;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			margin-right: 3px;
		}
		.icon {
			display: inline-block;
			vertical-align: bottom;
			// border-bottom: 37px solid rgb(239, 235, 233);
			// border-right: 20px solid transparent;
			width: 0;
			height: 0;
			border-right: 17px solid transparent;
			border-bottom: 17px solid transparent;
			border-left: 17px solid rgb(239, 235, 233);
			border-top: 17px solid transparent;
		}
	}
}

// .article-detail .anchor ul,
// .article-detail .anchor ol {
// 	color: #333333;
// 	margin: 1.5em 0 0 25px;
// }

// .article-detail .anchor h1,
// .article-detail .anchor h2 {
// 	border-bottom: 1px solid #eee;
// 	padding-bottom: 10px;
// }

// .article-detail .anchor a {
// 	color: #009a61;
// }

.article-detail blockquote {
	margin: 0 0 1em;
	background-color: rgb(220, 230, 240);
	padding: 0.5em 0 0.3em 0.5em;
	border-left: 6px solid rgb(181, 204, 226);
	display: block;
	padding: 16px 15px 16px 1rem;
	font-size: 0.9em;
	margin: 1em 0px;
	color: rgb(0, 0, 0);
	border-left: 5px solid rgb(239, 112, 96);
	background: rgb(239, 235, 233);
	overflow: auto;
	overflow-wrap: normal;
	word-break: normal;
	p {
		padding: 0;
		margin: 0;
	}
	strong {
		margin: 0 3px;
    color: rgb(233, 105, 0);
	}
}

$themeColor: #5A94D0;

$blue1:#06c;
