a {
  text-decoration: none;
}
ul{
  // padding: 0;
  list-style: none;
}
.container {
  // min-height: 100vh;
  // justify-content: center;
  // align-items: center;
  margin: 20px;
	padding: 20px;
	width: calc(100% -40);
	border-radius: 4px;
	background: #fff;
	margin-bottom: 100px;
	position: relative;
  // -webkit-box-shadow: 0 0 6px hsla(0,0%,39%,.4);
  // box-shadow: 0 0 6px hsla(0,0%,39%,.4);
}

.overflow {
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.inline-b {
  display: inline-block;
}

.cursor {
  cursor: pointer;
}

// 超出省略号
.ellipsis-line3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
}

/*对 markdown 样式的补充*/
pre {
	display: block;
	padding: 15px;
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #abb2bf;
	background: #23241f;
	word-break: break-all;
	word-wrap: break-word;
	overflow: auto;
	border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1em;
}
strong {
	font-weight: bold;
}

p > code:not([class]) {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}

img {
	max-width: 100%;
}

.article-detail {
	img {
		/* 图片居中 */
		display: flex;
		max-width: 100%;
		margin: 0 auto;
	}
	table {
		text-align: center;
		border: 1px solid #eee;
		margin-bottom: 1.5em;
	}
	th,
	td {
		// text-align: center;
		padding: 0.5em;
	}
	tr:nth-child(2n) {
		background: #f7f7f7;
	}
}

.article-detail {
	font-size: 16px;
	line-height: 28px;
	// line-height: 1.8;
}

.article-detail .desc ul,
.article-detail .desc ol {
	color: #333333;
	margin: 1.5em 0 0 25px;
}

.article-detail .desc h1,
.article-detail .desc h2 {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

.article-detail .desc a {
	color: #009a61;
}

.article-detail blockquote {
	margin: 0 0 1em;
	background-color: rgb(220, 230, 240);
	padding: 1em 0 0.5em 0.5em;
	border-left: 6px solid rgb(181, 204, 226);
}

$themeColor: #5A94D0;

$blue1:#06c;
